.detail-container {
  margin: 10px;
  padding: 5px;
  text-align: center;
  letter-spacing: 3px;
}
.detail-title {
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.detail-container h2 {
  margin: 0;
  padding: 5px;
}
.detail-btn {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.detail-btn button.btn:nth-child(1) {
  margin-right: 50px;
}
.table td,
.table th {
  padding: 0.5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
.table tbody:hover {
  background: #bedeff;
  transition: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.5s;
}
/*Table thead 2nd th Style */
.table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(2) {
  width: 600px;
  text-align: start;
  padding-left: 30px;
}
/*Table thead 4th th Style */
.table > thead:nth-child(1) > tr:nth-child(1) > th:nth-child(4) {
  width: 210px;
}

/*Table tbody 2nd td Style */
.table > tbody:nth-child(2) > tr:nth-child(1) > td:nth-child(2) {
  text-align: start;
  padding-left: 30px;
  cursor: pointer;
}
