.main-container {
  margin: 10px;
  padding: 5px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  text-align: center;
  letter-spacing: 3px;
}
.main-title {
  margin: 0;
  padding: 5px;
  display: flex;
  align-items: flex-start;
}
.main-container h2 {
  margin: 0;
  padding: 5px;
}
.main-btn {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.main-btn button.btn:nth-child(1) {
  margin-right: 20px;
}
.main-table {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}
.table > tbody > tr > td {
  text-align: start;
}

/*item input */

/* 요소 | http://localhost:3000/iteminput?quantity=&unti=&price=&date=&item-etc= */

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-title {
  width: 150px;
  text-align: center;
}
.input-title h3 {
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}
.item-sepc-container {
  margin: 5px;
  padding: 10px;
  width: 500px;
  letter-spacing: 2px;
}
.item-registrante {
  letter-spacing: 6.5px;
}
.item-registrante input:nth-child(2) {
  width: 95px;
}
.item-name {
  display: flex;
}
.item-name input:nth-child(3) {
  width: 180px;
}
.item-sepc-container input {
  width: 100px;
  text-align: center;
  border: none;
  border-bottom: 1px solid gray;
}
.item-Quantity {
  display: flex;
}
.item-Quantity input:nth-child(3) {
  width: 80px;
}

.item-DateOfPurchase input:nth-child(2) {
  width: 140px;
}

.item-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-etc {
  padding-left: 5px;
  width: 500px;
  height: 400px;
  display: flex;
  align-self: flex-end;
}
.item-etc textarea {
  width: 490px;
  height: 390px;
}
.item-container button {
  margin-bottom: 10px;
  width: 100px;
  text-align: center;
  letter-spacing: 5px;
}
.item-sepc-container label {
  margin-bottom: 0;
  align-self: center;
}
